button.week1 week1
button.week2 week2
.fav-page
    .promo._container
        .promo__wrap
            .promo__prize
                .promo__prize-item(data-translate="promoPrizeFound") Призовий <br> фонд
                .promo__prize-title
                    .glitch__layers
                        .glitch__layer
                        .glitch__layer
                        .glitch__layer
            .promo__text
                a(href="#" data-translate="mainBtn" data-decor="взяти участь").promo__text-btn.btn взяти участь
                .promo__text-info(data-translate="promoTextInfo").subtitle Cерія з 4 турнірів
        .promo__bottom(data-translate="promoPrizeBottom") *Під призовим фондом в 10 000 000 UAH мається на увазі отримання призу у вигляді електронних грошових замінників в Акції «Прокачай гру». Деталі на сайті www.favbet.ua. Період дії акції з 01.10.2024 по 15.10.2024 року.
    .info._container
        .info__left
            picture
                source(srcset="./img/info/info-pers-mob.png" media="(max-width: 1050px)")
                img(src="./img/info/info-pers.png" alt="favbet")
        .info__right
            .info__right-title(data-translate="infoTitle", data-decor="Бери участь").title Бери участь
            .info__text
                p.info__text-item.type-anim З 01 жовтня 2024 року до 4 листопада 2024 року залітай на осінню Акцію «Прокачай гру» та змагайся за 10 000 000 UAH. Розділяй призовий фонд та отримуй шанс виграти купу призів, що прокачають твою гру.
                p.info__text-item 1. Набирай бали за множники виграшних ставок в спорті та казино та просувайся по турнірній таблиці. Також за перші 100 балів у кожному турнірі автоматично отримуй по ХХ фріспінів.
                p.info__text-item 2. Проходь квести, зробивши ставки на різні види спорту та ігри казино — отримуй гарантовані призи.
                p.info__text-item 3. Отримуй шанс виграти фізичні призи за набір 50 балів у кожному турнірі.
            .info__progress 60%
                span.info__progress-bar
    .guide
        .guide__title(data-translate="guideTitle", data-decor="як взяти участь ?").title як взяти участь ?
        ul.guide__list
            .guide__decor-top.glitch
                img(src="./img/guide/guide-decor-top.png" alt="favbet")
                .glitch__layers
                    .glitch__layer
                    .glitch__layer
                    .glitch__layer
            .guide__decor-bottom.glitch
                img(src="./img/guide/guide-decor-bottom.png" alt="favbet")
                .glitch__layers
                    .glitch__layer
                    .glitch__layer
                    .glitch__layer
            li.guide__list-item
                .guide__list-item-num(data-decor="1").title 1
                .guide__list-item-text Натисни кнопку “Взяти участь”
                .guide__info-btn
                .guide__info
                    .guide__info-close
                    .guide__info-title Iphone 15 Pro Max 512GB
                    .guide__info-text Коли Сем у грі, то можеш бути певен, що отримаєш тільки найкращий досвід від слотів Обирай гру до смаку. Роби 300 обертів від мінімальної ставки і отримай приз. Коли Сем у грі — грай і ти.
                    .guide__info-text Коли Сем у грі, то можеш бути певен, що отримаєш

            li.guide__list-item
                .guide__list-item-num(data-decor="2").title 2
                .guide__list-item-text Роби виграшні ставки на спорт та в іграх казино
                .guide__info За перші 100 балів отримуй гарантовані 100 фс
                .guide__info-btn
            li.guide__list-item
                .guide__list-item-num(data-decor="3").title 3
                .guide__list-item-text Набирай бали в турнірну таблицю
                .guide__info За перші 100 балів отримуй гарантовані 100 фс
                .guide__info-btn
                .guide__subinfo За перші 100 балів отримуй гарантовані 100 фс

            li.guide__list-item
                .guide__list-item-num(data-decor="4").title 4
                .guide__list-item-text Проходь квести та отримуй бонуси
                .guide__info За перші 100 балів отримуй гарантовані 100 фс
                .guide__info-btn

        a(href="#" data-translate="mainBtn" data-decor="взяти участь").guide__btn.btn взяти участь

    .quests
        .quests__title(data-translate="questsTitle" data-decor="бонуси за квести").title бонуси за квести
        .quests__subtitle.subtitle Роби ставки на всі баскетбольні події в рамках Євроліги
        .quests__icons
            .quests__icons-item.quest1._done
            .quests__icons-item.quest2._active
            .quests__icons-item.quest3._lock
            .quests__icons-item.quest4._lock
            .quests__icons-item.quest5._lock
            .quests__icons-item.quest6._lock
            .quests__icons-item.quest7._lock
            .quests__icons-item.quest8._lock
            .quests__icons-item.quest9._lock
            .quests__icons-item.quest10._lock
            .quests__icons-item.quest11._lock
            .quests__icons-item.quest12._lock

        .quests__slider
            .slide__move
                .slide__move-left
                .slide__move-right
            .slide__container
                .slide.quest1
                    .glitch__layers
                        .glitch__layer
                        .glitch__layer
                    .slide__img
                    .slide__info
                        .glitch__layers
                            .glitch__layer
                            .glitch__layer
                            .glitch__layer
                        .slide__info-top
                            .slide__title СПОРТ
                                span.slide__title-decor КВЕСТ#1 <br> ЄВРОДАНК
                                span.slide__title-date Дата: 03.10 - 04.10
                            .slide__info-prize
                                .slide__info-prize-title(data-decor="приз") приз
                                .slide__info-prize-subtitle Страховка <br> ставки до
                                .slide__info-prize-title(data-decor="150") 150
                                .slide__info-prize-subtitle UAH
                        .slide__info-bottom
                            .slide__info-bottom-text.
                                3.10 - Для виконання квесту необхідно з 00:00 по 23:59 03.10.2024 року робити
                                ставки від 50 UAH на баскетбольні події виключно в рамках “Євроліги” та досягти
                                загальної суми ставок — 150 UAH. Враховуються виключно 3.10 - Для виконання квесту
                                необхідно з 00:00 по 23:59 03.10.2024 року робити ставки від
                                3.10 - Для виконання квесту необхідно з 00:00 по 23:59 03.10.2024 року робити
                                ставки від 50 UAH на баскетбольні події виключно в рамках “Євроліги” та досягти
                                загальної суми ставок — 150 UAH. Враховуються виключно 3.10 - Для виконання квесту
                                необхідно з 00:00 по 23:59 03.10.2024 року робити ставки від 50 UAH на баскетбольні події
                                виключно в рамках “Євроліги” та досягти загальної суми ставок — 150 UAH. Враховуються виключно
                        .slide__info-btn(data-decor="взяти участь") взяти участь
                    .slide__progress
                        span.slide__progress-top
                            span.slide__progress-title прогрес
                            span.slide__progress-text #[span.current-progress 50]/#[span.total-progress 100 балів]
                        span.slide__progress-bottom
                            span.slide__progress-bar

                .slide.quest2
                    .glitch__layers
                        .glitch__layer
                        .glitch__layer
                    .slide__img
                    .slide__info
                        .glitch__layers
                            .glitch__layer
                            .glitch__layer
                            .glitch__layer
                        .slide__info-top
                            .slide__title казино
                                span.slide__title-decor КВЕСТ#2 <br> КРАШ КВЕСТ
                                span.slide__title-date Дата: 05.10 - 06.10
                            .slide__info-prize
                                .slide__info-prize-title(data-decor="приз") приз
                                .slide__info-prize-title(data-decor="30") 30
                                .slide__info-prize-subtitle FS
                        .slide__info-bottom
                            .slide__info-bottom-text.
                                3.10 - Для виконання квесту необхідно з 00:00 по 23:59 03.10.2024 року робити
                                ставки від 50 UAH на баскетбольні події виключно в рамках “Євроліги” та досягти
                                загальної суми ставок — 150 UAH. Враховуються виключно 3.10 - Для виконання квесту
                                необхідно з 00:00 по 23:59 03.10.2024 року робити ставки від
                                3.10 - Для виконання квесту необхідно з 00:00 по 23:59 03.10.2024 року робити
                                ставки від 50 UAH на баскетбольні події виключно в рамках “Євроліги” та досягти
                                загальної суми ставок — 150 UAH. Враховуються виключно 3.10 - Для виконання квесту
                                необхідно з 00:00 по 23:59 03.10.2024 року робити ставки від 50 UAH на баскетбольні події
                                виключно в рамках “Євроліги” та досягти загальної суми ставок — 150 UAH. Враховуються виключно
                        .slide__info-btn(data-decor="взяти участь") взяти участь
                    .slide__progress
                        span.slide__progress-top
                            span.slide__progress-title прогрес
                            span.slide__progress-text #[span.current-progress 50]/#[span.total-progress 100 балів]
                        span.slide__progress-bottom
                            span.slide__progress-bar

                .slide.quest3
                    .glitch__layers
                        .glitch__layer
                        .glitch__layer
                    .slide__img
                    .slide__info
                        .glitch__layers
                            .glitch__layer
                            .glitch__layer
                            .glitch__layer
                        .slide__info-top
                            .slide__title спорт
                                span.slide__title-decor квест#3 <br> спорт арена
                                span.slide__title-date Дата: 07.10 - 08.10
                            .slide__info-prize
                                .slide__info-prize-title(data-decor="приз") приз
                                .slide__info-prize-subtitle Страховка <br> ставки до
                                .slide__info-prize-title(data-decor="200") 200
                                .slide__info-prize-subtitle uah
                        .slide__info-bottom
                            .slide__info-bottom-text.
                                3.10 - Для виконання квесту необхідно з 00:00 по 23:59 03.10.2024 року робити
                                ставки від 50 UAH на баскетбольні події виключно в рамках “Євроліги” та досягти
                                загальної суми ставок — 150 UAH. Враховуються виключно 3.10 - Для виконання квесту
                                необхідно з 00:00 по 23:59 03.10.2024 року робити ставки від
                                3.10 - Для виконання квесту необхідно з 00:00 по 23:59 03.10.2024 року робити
                                ставки від 50 UAH на баскетбольні події виключно в рамках “Євроліги” та досягти
                                загальної суми ставок — 150 UAH. Враховуються виключно 3.10 - Для виконання квесту
                                необхідно з 00:00 по 23:59 03.10.2024 року робити ставки від 50 UAH на баскетбольні події
                                виключно в рамках “Євроліги” та досягти загальної суми ставок — 150 UAH. Враховуються виключно
                        .slide__info-btn(data-decor="взяти участь") взяти участь
                    .slide__progress
                        span.slide__progress-top
                            span.slide__progress-title прогрес
                            span.slide__progress-text #[span.current-progress 50]/#[span.total-progress 100 балів]
                        span.slide__progress-bottom
                            span.slide__progress-bar

                .slide.quest4
                    .glitch__layers
                        .glitch__layer
                        .glitch__layer
                    .slide__img
                    .slide__info
                        .glitch__layers
                            .glitch__layer
                            .glitch__layer
                            .glitch__layer
                        .slide__info-top
                            .slide__title казино
                                span.slide__title-decor квест#4 <br> спін пригоди
                                span.slide__title-date Дата: 09.10 - 10.10
                            .slide__info-prize
                                .slide__info-prize-title(data-decor="приз") приз
                                .slide__info-prize-title(data-decor="40") 40
                                .slide__info-prize-subtitle fs
                        .slide__info-bottom
                            .slide__info-bottom-text.
                                3.10 - Для виконання квесту необхідно з 00:00 по 23:59 03.10.2024 року робити
                                ставки від 50 UAH на баскетбольні події виключно в рамках “Євроліги” та досягти
                                загальної суми ставок — 150 UAH. Враховуються виключно 3.10 - Для виконання квесту
                                необхідно з 00:00 по 23:59 03.10.2024 року робити ставки від
                                3.10 - Для виконання квесту необхідно з 00:00 по 23:59 03.10.2024 року робити
                                ставки від 50 UAH на баскетбольні події виключно в рамках “Євроліги” та досягти
                                загальної суми ставок — 150 UAH. Враховуються виключно 3.10 - Для виконання квесту
                                необхідно з 00:00 по 23:59 03.10.2024 року робити ставки від 50 UAH на баскетбольні події
                                виключно в рамках “Євроліги” та досягти загальної суми ставок — 150 UAH. Враховуються виключно
                        .slide__info-btn(data-decor="взяти участь") взяти участь
                    .slide__progress
                        span.slide__progress-top
                            span.slide__progress-title прогрес
                            span.slide__progress-text #[span.current-progress 50]/#[span.total-progress 100 балів]
                        span.slide__progress-bottom
                            span.slide__progress-bar

                .slide.quest5
                    .glitch__layers
                        .glitch__layer
                        .glitch__layer
                    .slide__img
                    .slide__info
                        .glitch__layers
                            .glitch__layer
                            .glitch__layer
                            .glitch__layer
                        .slide__info-top
                            .slide__title спорт
                                span.slide__title-decor квест#5 <br> льодовиковий <br> період
                                span.slide__title-date Дата: 11.10 - 12.10
                            .slide__info-prize
                                .slide__info-prize-title(data-decor="приз") приз
                                .slide__info-prize-subtitle Страховка <br> ставки до
                                .slide__info-prize-title(data-decor="150") 250
                                .slide__info-prize-subtitle uah
                        .slide__info-bottom
                            .slide__info-bottom-text.
                                3.10 - Для виконання квесту необхідно з 00:00 по 23:59 03.10.2024 року робити
                                ставки від 50 UAH на баскетбольні події виключно в рамках “Євроліги” та досягти
                                загальної суми ставок — 150 UAH. Враховуються виключно 3.10 - Для виконання квесту
                                необхідно з 00:00 по 23:59 03.10.2024 року робити ставки від
                                3.10 - Для виконання квесту необхідно з 00:00 по 23:59 03.10.2024 року робити
                                ставки від 50 UAH на баскетбольні події виключно в рамках “Євроліги” та досягти
                                загальної суми ставок — 150 UAH. Враховуються виключно 3.10 - Для виконання квесту
                                необхідно з 00:00 по 23:59 03.10.2024 року робити ставки від 50 UAH на баскетбольні події
                                виключно в рамках “Євроліги” та досягти загальної суми ставок — 150 UAH. Враховуються виключно
                        .slide__info-btn(data-decor="взяти участь") взяти участь
                    .slide__progress
                        span.slide__progress-top
                            span.slide__progress-title прогрес
                            span.slide__progress-text #[span.current-progress 50]/#[span.total-progress 100 балів]
                        span.slide__progress-bottom
                            span.slide__progress-bar


                .slide.quest6
                    .glitch__layers
                        .glitch__layer
                        .glitch__layer
                    .slide__img
                    .slide__info
                        .glitch__layers
                            .glitch__layer
                            .glitch__layer
                            .glitch__layer
                        .slide__info-top
                            .slide__title казино
                                span.slide__title-decor квест#6 <br> шалені оберти
                                span.slide__title-date Дата: 13.10 - 14.10
                            .slide__info-prize
                                .slide__info-prize-title(data-decor="приз") приз
                                .slide__info-prize-title(data-decor="40") 40
                                .slide__info-prize-subtitle fs
                        .slide__info-bottom
                            .slide__info-bottom-text.
                                3.10 - Для виконання квесту необхідно з 00:00 по 23:59 03.10.2024 року робити
                                ставки від 50 UAH на баскетбольні події виключно в рамках “Євроліги” та досягти
                                загальної суми ставок — 150 UAH. Враховуються виключно 3.10 - Для виконання квесту
                                необхідно з 00:00 по 23:59 03.10.2024 року робити ставки від
                                3.10 - Для виконання квесту необхідно з 00:00 по 23:59 03.10.2024 року робити
                                ставки від 50 UAH на баскетбольні події виключно в рамках “Євроліги” та досягти
                                загальної суми ставок — 150 UAH. Враховуються виключно 3.10 - Для виконання квесту
                                необхідно з 00:00 по 23:59 03.10.2024 року робити ставки від 50 UAH на баскетбольні події
                                виключно в рамках “Євроліги” та досягти загальної суми ставок — 150 UAH. Враховуються виключно
                        .slide__info-btn(data-decor="взяти участь") взяти участь
                    .slide__progress
                        span.slide__progress-top
                            span.slide__progress-title прогрес
                            span.slide__progress-text #[span.current-progress 50]/#[span.total-progress 100 балів]
                        span.slide__progress-bottom
                            span.slide__progress-bar

                .slide.quest7
                    .glitch__layers
                        .glitch__layer
                        .glitch__layer
                    .slide__img
                    .slide__info
                        .glitch__layers
                            .glitch__layer
                            .glitch__layer
                            .glitch__layer
                        .slide__info-top
                            .slide__title казино
                                span.slide__title-decor квест#7 <br> квест розваг
                                span.slide__title-date Дата: 22.10 - 23.10
                            .slide__info-prize
                                .slide__info-prize-title(data-decor="приз") приз
                                .slide__info-prize-title(data-decor="40") 40
                                .slide__info-prize-subtitle fs
                        .slide__info-bottom
                            .slide__info-bottom-text.
                                3.10 - Для виконання квесту необхідно з 00:00 по 23:59 03.10.2024 року робити
                                ставки від 50 UAH на баскетбольні події виключно в рамках “Євроліги” та досягти
                                загальної суми ставок — 150 UAH. Враховуються виключно 3.10 - Для виконання квесту
                                необхідно з 00:00 по 23:59 03.10.2024 року робити ставки від
                                3.10 - Для виконання квесту необхідно з 00:00 по 23:59 03.10.2024 року робити
                                ставки від 50 UAH на баскетбольні події виключно в рамках “Євроліги” та досягти
                                загальної суми ставок — 150 UAH. Враховуються виключно 3.10 - Для виконання квесту
                                необхідно з 00:00 по 23:59 03.10.2024 року робити ставки від 50 UAH на баскетбольні події
                                виключно в рамках “Євроліги” та досягти загальної суми ставок — 150 UAH. Враховуються виключно
                        .slide__info-btn(data-decor="взяти участь") взяти участь
                    .slide__progress
                        span.slide__progress-top
                            span.slide__progress-title прогрес
                            span.slide__progress-text #[span.current-progress 50]/#[span.total-progress 100 балів]
                        span.slide__progress-bottom
                            span.slide__progress-bar

                .slide.quest8
                    .glitch__layers
                        .glitch__layer
                        .glitch__layer
                    .slide__img
                    .slide__info
                        .glitch__layers
                            .glitch__layer
                            .glitch__layer
                            .glitch__layer
                        .slide__info-top
                            .slide__title спорт
                                span.slide__title-decor квест#8 <br> баскет батл
                                span.slide__title-date Дата: 24.10 - 25.10
                            .slide__info-prize
                                .slide__info-prize-title(data-decor="приз") приз
                                .slide__info-prize-subtitle Страховка <br> ставки до
                                .slide__info-prize-title(data-decor="300") 300
                                .slide__info-prize-subtitle uah
                        .slide__info-bottom
                            .slide__info-bottom-text.
                                3.10 - Для виконання квесту необхідно з 00:00 по 23:59 03.10.2024 року робити
                                ставки від 50 UAH на баскетбольні події виключно в рамках “Євроліги” та досягти
                                загальної суми ставок — 150 UAH. Враховуються виключно 3.10 - Для виконання квесту
                                необхідно з 00:00 по 23:59 03.10.2024 року робити ставки від
                                3.10 - Для виконання квесту необхідно з 00:00 по 23:59 03.10.2024 року робити
                                ставки від 50 UAH на баскетбольні події виключно в рамках “Євроліги” та досягти
                                загальної суми ставок — 150 UAH. Враховуються виключно 3.10 - Для виконання квесту
                                необхідно з 00:00 по 23:59 03.10.2024 року робити ставки від 50 UAH на баскетбольні події
                                виключно в рамках “Євроліги” та досягти загальної суми ставок — 150 UAH. Враховуються виключно
                        .slide__info-btn(data-decor="взяти участь") взяти участь
                    .slide__progress
                        span.slide__progress-top
                            span.slide__progress-title прогрес
                            span.slide__progress-text #[span.current-progress 50]/#[span.total-progress 100 балів]
                        span.slide__progress-bottom
                            span.slide__progress-bar

                .slide.quest9
                    .glitch__layers
                        .glitch__layer
                        .glitch__layer
                    .slide__img
                    .slide__info
                        .glitch__layers
                            .glitch__layer
                            .glitch__layer
                            .glitch__layer
                        .slide__info-top
                            .slide__title казино
                                span.slide__title-decor квест#9 <br> гра в бонуси
                                span.slide__title-date Дата: 22.10 - 23.10
                            .slide__info-prize
                                .slide__info-prize-title(data-decor="приз") приз
                                .slide__info-prize-title(data-decor="40") 40
                                .slide__info-prize-subtitle fs
                        .slide__info-bottom
                            .slide__info-bottom-text.
                                3.10 - Для виконання квесту необхідно з 00:00 по 23:59 03.10.2024 року робити
                                ставки від 50 UAH на баскетбольні події виключно в рамках “Євроліги” та досягти
                                загальної суми ставок — 150 UAH. Враховуються виключно 3.10 - Для виконання квесту
                                необхідно з 00:00 по 23:59 03.10.2024 року робити ставки від
                                3.10 - Для виконання квесту необхідно з 00:00 по 23:59 03.10.2024 року робити
                                ставки від 50 UAH на баскетбольні події виключно в рамках “Євроліги” та досягти
                                загальної суми ставок — 150 UAH. Враховуються виключно 3.10 - Для виконання квесту
                                необхідно з 00:00 по 23:59 03.10.2024 року робити ставки від 50 UAH на баскетбольні події
                                виключно в рамках “Євроліги” та досягти загальної суми ставок — 150 UAH. Враховуються виключно
                        .slide__info-btn(data-decor="взяти участь") взяти участь
                    .slide__progress
                        span.slide__progress-top
                            span.slide__progress-title прогрес
                            span.slide__progress-text #[span.current-progress 50]/#[span.total-progress 100 балів]
                        span.slide__progress-bottom
                            span.slide__progress-bar

                .slide.quest10
                    .glitch__layers
                        .glitch__layer
                        .glitch__layer
                    .slide__img
                    .slide__info
                        .glitch__layers
                            .glitch__layer
                            .glitch__layer
                            .glitch__layer
                        .slide__info-top
                            .slide__title спорт
                                span.slide__title-decor квест#10 <br> сильний <br> кидок
                                span.slide__title-date Дата: 30.10 - 31.10
                            .slide__info-prize
                                .slide__info-prize-title(data-decor="приз") приз
                                .slide__info-prize-subtitle Страховка <br> ставки до
                                .slide__info-prize-title(data-decor="350") 350
                                .slide__info-prize-subtitle uah
                        .slide__info-bottom
                            .slide__info-bottom-text.
                                3.10 - Для виконання квесту необхідно з 00:00 по 23:59 03.10.2024 року робити
                                ставки від 50 UAH на баскетбольні події виключно в рамках “Євроліги” та досягти
                                загальної суми ставок — 150 UAH. Враховуються виключно 3.10 - Для виконання квесту
                                необхідно з 00:00 по 23:59 03.10.2024 року робити ставки від
                                3.10 - Для виконання квесту необхідно з 00:00 по 23:59 03.10.2024 року робити
                                ставки від 50 UAH на баскетбольні події виключно в рамках “Євроліги” та досягти
                                загальної суми ставок — 150 UAH. Враховуються виключно 3.10 - Для виконання квесту
                                необхідно з 00:00 по 23:59 03.10.2024 року робити ставки від 50 UAH на баскетбольні події
                                виключно в рамках “Євроліги” та досягти загальної суми ставок — 150 UAH. Враховуються виключно
                        .slide__info-btn(data-decor="взяти участь") взяти участь
                    .slide__progress
                        span.slide__progress-top
                            span.slide__progress-title прогрес
                            span.slide__progress-text #[span.current-progress 50]/#[span.total-progress 100 балів]
                        span.slide__progress-bottom
                            span.slide__progress-bar


                .slide.quest11
                    .glitch__layers
                        .glitch__layer
                        .glitch__layer
                    .slide__img
                    .slide__info
                        .glitch__layers
                            .glitch__layer
                            .glitch__layer
                            .glitch__layer
                        .slide__info-top
                            .slide__title спорт
                                span.slide__title-decor квест#11 <br> кібер батл
                                span.slide__title-date Дата: 01.11 - 02.10
                            .slide__info-prize
                                .slide__info-prize-title(data-decor="приз") приз
                                .slide__info-prize-subtitle Страховка <br> ставки до
                                .slide__info-prize-title(data-decor="400") 400
                                .slide__info-prize-subtitle uah
                        .slide__info-bottom
                            .slide__info-bottom-text.
                                3.10 - Для виконання квесту необхідно з 00:00 по 23:59 03.10.2024 року робити
                                ставки від 50 UAH на баскетбольні події виключно в рамках “Євроліги” та досягти
                                загальної суми ставок — 150 UAH. Враховуються виключно 3.10 - Для виконання квесту
                                необхідно з 00:00 по 23:59 03.10.2024 року робити ставки від
                                3.10 - Для виконання квесту необхідно з 00:00 по 23:59 03.10.2024 року робити
                                ставки від 50 UAH на баскетбольні події виключно в рамках “Євроліги” та досягти
                                загальної суми ставок — 150 UAH. Враховуються виключно 3.10 - Для виконання квесту
                                необхідно з 00:00 по 23:59 03.10.2024 року робити ставки від 50 UAH на баскетбольні події
                                виключно в рамках “Євроліги” та досягти загальної суми ставок — 150 UAH. Враховуються виключно
                        .slide__info-btn(data-decor="взяти участь") взяти участь
                    .slide__progress
                        span.slide__progress-top
                            span.slide__progress-title прогрес
                            span.slide__progress-text #[span.current-progress 50]/#[span.total-progress 100 балів]
                        span.slide__progress-bottom
                            span.slide__progress-bar


                .slide.quest12
                    .glitch__layers
                        .glitch__layer
                        .glitch__layer
                    .slide__img
                    .slide__info
                        .glitch__layers
                            .glitch__layer
                            .glitch__layer
                            .glitch__layer
                        .slide__info-top
                            .slide__title казино
                                span.slide__title-decor квест#12 <br> live фінал
                                span.slide__title-date Дата: 01.10 - 02.10
                            .slide__info-prize
                                .slide__info-prize-title(data-decor="приз") приз
                                .slide__info-prize-title(data-decor="60") 60
                                .slide__info-prize-subtitle uah
                        .slide__info-bottom
                            .slide__info-bottom-text.
                                3.10 - Для виконання квесту необхідно з 00:00 по 23:59 03.10.2024 року робити
                                ставки від 50 UAH на баскетбольні події виключно в рамках “Євроліги” та досягти
                                загальної суми ставок — 150 UAH. Враховуються виключно 3.10 - Для виконання квесту
                                необхідно з 00:00 по 23:59 03.10.2024 року робити ставки від
                                3.10 - Для виконання квесту необхідно з 00:00 по 23:59 03.10.2024 року робити
                                ставки від 50 UAH на баскетбольні події виключно в рамках “Євроліги” та досягти
                                загальної суми ставок — 150 UAH. Враховуються виключно 3.10 - Для виконання квесту
                                необхідно з 00:00 по 23:59 03.10.2024 року робити ставки від 50 UAH на баскетбольні події
                                виключно в рамках “Євроліги” та досягти загальної суми ставок — 150 UAH. Враховуються виключно
                        .slide__info-btn(data-decor="взяти участь") взяти участь
                    .slide__progress
                        span.slide__progress-top
                            span.slide__progress-title прогрес
                            span.slide__progress-text #[span.current-progress 50]/#[span.total-progress 100 балів]
                        span.slide__progress-bottom
                            span.slide__progress-bar
    .table
        .table__title(data-translate="tableTitle" data-decor="турнірна таблиця").title турнірна таблиця
        .table__subtitle.subtitle набирай 100 балів та гарантовано отримає 100 фріспінів у грі ХХХ від провайдера ХХХ
        .table__btn #[span.table__btn-text Таблиця розподілу призів]
        .table__list
            .table__list-item.active 1 тиждень
            .table__list-item 2 тиждень
            .table__list-item 3 тиждень
            .table__list-item 4 тиждень
        .table__wrap.firstWeek
            .table__item.firstWeek
                .table__head
                    .table__head-item Місце
                    .table__head-item ID
                    .table__head-item Бали
                    .table__head-item Приз
                .table__row
                    .table__row-item 1
                    .table__row-item 23334
                    .table__row-item 12003
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 2
                    .table__row-item 23334
                    .table__row-item 3242
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 3
                    .table__row-item 23334
                    .table__row-item 234
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 4
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 5
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 6
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 7
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 8
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 9
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 10
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 10
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 10
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 10
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 10
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 10
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
            .table__item.secondWeek
                .table__head
                    .table__head-item Місце
                    .table__head-item ID
                    .table__head-item Бали
                    .table__head-item Приз
                .table__row
                    .table__row-item 1
                    .table__row-item 23334
                    .table__row-item 12003
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 2
                    .table__row-item 23334
                    .table__row-item 3242
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 3
                    .table__row-item 23334
                    .table__row-item 234
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 4
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 5
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 6
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 7
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 8
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 9
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 10
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
            .table__item.thirdWeek
                .table__head
                    .table__head-item Місце
                    .table__head-item ID
                    .table__head-item Бали
                    .table__head-item Приз
                .table__row
                    .table__row-item 1
                    .table__row-item 23334
                    .table__row-item 12003
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 2
                    .table__row-item 23334
                    .table__row-item 3242
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 3
                    .table__row-item 23334
                    .table__row-item 234
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 4
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 5
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 6
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 7
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 8
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 9
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 10
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
            .table__item.fourWeek
                .table__head
                    .table__head-item Місце
                    .table__head-item ID
                    .table__head-item Бали
                    .table__head-item Приз
                .table__row
                    .table__row-item 1
                    .table__row-item 23334
                    .table__row-item 12003
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 2
                    .table__row-item 23334
                    .table__row-item 3242
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 3
                    .table__row-item 23334
                    .table__row-item 234
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 4
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 5
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 6
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 7
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 8
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 9
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
                .table__row
                    .table__row-item 10
                    .table__row-item 23334
                    .table__row-item 100
                    .table__row-item.magenta 50 000 ЕГЗ*
        .table__bottom *Під ЕГЗ мається на увазі отримання призу у вигляді електронних грошових замінників в Акції «Прокачай свою гру на 20 мільйонів». Деталі на сайті www.favbet.ua. Період дії акції з 01.10.2024 по 15.10.2024 року.
        .table__pers
            picture
                source(srcset="./img/table/zeus-tab.png" media="(max-width: 1050px)")
                source(srcset="./img/table/zeus-mob.png" media="(max-width: 600px)")
                img(src="./img/table/zeus.png" alt="favbet")
    .prize
        .prize__title(data-translate="prizeTitle" data-decor="Фізичні призи").title Фізичні призи
        .prize__subtitle.subtitle Cеред усіх, хто набере хх балів, хоча б в 1 із 4х турнірхних таблиць будуть розіграні фізичні призи такі як...
        .prize__slider
            .prize__slider-wrap
                .prize__slide
                    .prize__slide-img
                        img(src="./img/prize/PS5.png" alt="playstation5")
                    .prize__slide-info
                        .prize__slide-info-title PlayStation 5 Slim Digital Edition
                        .prize__slide-info-text розігруємо: 9шт
                        .prize__slide-info-btn
                        .prize__slide-popup
                            .prize__slide-close
                            strong Ігрова приставка Sony PlayStation 5 Slim (BluRay) + Mortal Kombat 1 + Dualsense White
                            p Процесор: AMD Zen 2.
                            p Максимальна роздільна здатність: 8K UHD.
                            p Вбудоване сховище на 1TB.
                            p Надшвидкісний накопичувач SSD.
                            p Підтримка телевізорів з 4K.
                .prize__slide
                    .prize__slide-img
                        img(src="./img/prize/PS5.png" alt="playstation5")
                    .prize__slide-info
                        .prize__slide-info-title PlayStation 5 Slim Digital Edition
                        .prize__slide-info-text розігруємо: 9шт
                        .prize__slide-info-btn
                        .prize__slide-popup
                            .prize__slide-close
                            strong Ігрова приставка Sony PlayStation 5 Slim (BluRay) + Mortal Kombat 1 + Dualsense White
                            p Процесор: AMD Zen 2.
                            p Максимальна роздільна здатність: 8K UHD.
                            p Вбудоване сховище на 1TB.
                            p Надшвидкісний накопичувач SSD.
                            p Підтримка телевізорів з 4K.
                .prize__slide
                    .prize__slide-img
                        img(src="./img/prize/PS5.png" alt="playstation5")
                    .prize__slide-info
                        .prize__slide-info-title PlayStation 5 Slim Digital Edition
                        .prize__slide-info-text розігруємо: 9шт
                        .prize__slide-info-btn
                        .prize__slide-popup
                            .prize__slide-close
                            strong Ігрова приставка Sony PlayStation 5 Slim (BluRay) + Mortal Kombat 1 + Dualsense White
                            p Процесор: AMD Zen 2.
                            p Максимальна роздільна здатність: 8K UHD.
                            p Вбудоване сховище на 1TB.
                            p Надшвидкісний накопичувач SSD.
                            p Підтримка телевізорів з 4K.
            .prize__slider-pagination
            .swiper-button-prev
            .swiper-button-next
    .popups
        .popups__table
            .popups__table-title(data-decor="Таблиця розподілу призів").title
            .popups__table-body
                .popups__table-column
                    .popupst__table-item місце
                    .popupst__table-item 1
                    .popupst__table-item 2
                    .popupst__table-item 3
                    .popupst__table-item 4
                    .popupst__table-item 5
                    .popupst__table-item 6-10
                    .popupst__table-item 11-30
                    .popupst__table-item 31-50
                    .popupst__table-item 51-100
                    .popupst__table-item 101-200
                    .popupst__table-item 201-300
                .popups__table-column
                    .popupst__table-item приз
                    .popupst__table-item 400 000,00
                    .popupst__table-item 250 000,00
                    .popupst__table-item 150 000,00
                    .popupst__table-item 70 000,00
                    .popupst__table-item 50 000,00
                    .popupst__table-item 20 000,00
                    .popupst__table-item 12 000,00
                    .popupst__table-item 8 000,00
                    .popupst__table-item 5 000,00
                    .popupst__table-item 2 300,00
                    .popupst__table-item 1 000,00